language: go
go_import_path: github.com/kubeflow/mpi-operator

go:
- 1.13.6

install:
- go get -t -d ./...
- go get github.com/mattn/goveralls
- curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.22.2

script:
- export GO111MODULE=on
- export GOFLAGS=-mod=vendor
- make
- ./bin/golangci-lint run
- goveralls -service=travis-ci -v -package ./pkg/... -ignore "pkg/client/*/*.go,pkg/client/*/*/*.go,pkg/client/*/*/*/*.go,pkg/client/*/*/*/*/*.go,pkg/client/*/*/*/*/*/*.go,pkg/client/*/*/*/*/*/*/*.go,pkg/apis/tensorflow/*/zz_generated.*.go,pkg/apis/kubeflow/*/*_generated.go"

notifications:
  on_success: never
