name: build
on: [push, pull_request]
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/kubeflow/mpi-operator
    # Pull requests from the same repository won't trigger this checks as they were already triggered by the push
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Clone the code
        uses: actions/checkout@v3
        with:
          path: ${{ env.GOPATH }}/src/github.com/kubeflow/mpi-operator
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: ${{ env.GOPATH }}/src/github.com/kubeflow/mpi-operator/go.mod
      - name: fmt check
        run: make fmt
      - name: go mod tidy
        run: make tidy
      - name: Build
        run: make mpi-operator.v2
      - name: generate codes
        run: make verify-generate
      - name: Run tests
        run: make test
  e2e:
    name: E2E
    runs-on: ubuntu-latest
    # Pull requests from the same repository won't trigger this checks as they were already triggered by the push
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version: ["v1.29.13", "v1.30.9", "v1.31.5", "v1.32.1"]
    steps:
    - name: Clone the code
      uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod
    - name: Run tests
      env:
        RELEASE_VERSION: test
        CONTROLLER_VERSION: v2
        TEST_KIND_IMAGE: kindest/node:${{ matrix.kubernetes-version }}
        PLATFORMS: linux/amd64
        INTEL_PLATFORMS: linux/amd64
        MPICH_PLATFORMS: linux/amd64
      run: make test_e2e
